.red {
	color: red;
}

.navy {
	color: navy;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
display: none !important;
}

#hiddenDirective {
	border: 1px solid green;
	padding: 20px;
}

#statusMessage {
	font-size: .7em;
}
li {
	text-decoration: none;
}

.sampleBox {
	width: 300px;
	height: 300px;
	float: left;
	border: 1px solid black;
	margin: 10px;
	padding: 10px;
}

table {
	border-collapse: collapse;
	width: 95%;
	margin: 0 auto;
}

thead {
	background-color: grey;
	color: white;
}

th {
	font-size: .8em;
	padding: 5px;
}

td {
	padding: 0 5px;
}

.center-align {
	text-align: center;
}

.right-align {
	text-align: right;
}

.clickable:hover {
	background-color: white;
	color: blue;
	cursor: pointer;

}

#currency {
	background-color: black;
	color: white;
}

#date {
	background-color: brown;
	color: white;
}

#sorting {
	background-color: red;
	color: white;
}

.heading-label {
		font-size: 1.3em;
		width: 100px;
		text-align: center;
}
.notes {
	color: red;
	font-size: 1em;
}