<!DOCTYPE html>
<html lang="en">
	<!--  ng-app refers to a directive in the angular framework.  You can find more directives at:
	https://docs.angularjs.org/api/ng/directive-->
	<head>
		<meta charset="UTF-8">
		<title>Sample Angular.JS</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script type="text/javascript" src="js/javascript.js"></script>
		<script type="text/javascript" src="js/lib/angular.js"></script>
	</head>
	<body ng-app>
		<aside id="infoAbout">
			<!--  Accodians created with http://zachwills.net/how-to-create-an-accordion-with-angular-js/ -->
			<div>
			    <div class="accordion__container" ng-controller="myCtrl">
			        <div class="accordion__tab">
			            <div class="accordion__tab-title" ng-click="openTab('tab one')">What is Angular.js?</div>
				            <div class="accordion__tab-content" ng-show="isOpenTab('tab one')">
								<p>Tab One text goes here</p>
				            </div>
			        </div>
			        <!-- .accordion__tab -->
			        <div class="accordion__tab">
			            <div class="accordion__tab-title" ng-click="openTab('tab two')">Notes from Fundementals of Angular JS by Dan Wahlin</div>
				            <div class="accordion__tab-content" ng-show="isOpenTab('tab two')">
								<p>Tab two text goes here</p>
							</div>
						</div>
				        <!-- .accordion__tab -->
				        <div class="accordion__tab">
				            <div class="accordion__tab-title" ng-click="openTab('tab three')">Todo List</div>
				            <div class="accordion__tab-content" ng-show="isOpenTab('tab three')">
								<div="explination">
									<p>Tab Three text goes here</p>
								</div>
				            </div>
				        </div>
			        <!-- .accordion__tab -->
				    </div>
				</div>
		</aside>
		<div id="mainContent">
			<div id="someFunctions">
					Filter:
					<input id="filterBox" type="text" ng-model="name">
					<p>Dealing with the subject of {{name}}</p>
			</div>
			<div ng-init="authors= [
			    {name:  'Kramer', description: 'this here', born: '2012', died: '2012'}, 
			    {name:  'Botero', description: 'this here', born: '2012', died: '2012'}, 
			    {name:  'Thorkild Jacobsen', description: 'this here', born: '2012', died: '2012'}, 
			    {name:  'Kramer', description: 'this here', born: '2012', died: '2012'}]">
			<div id="display">
				<table class="author clearfix" ng-repeat="author in authors | filter : name">
					<tr><td>Author Name:</td><td>{{author.name}}</td></tr>
					<tr><td>Desciption: </td><td>{{author.description}}</td></tr>
					<tr><td>Born: </td><td>{{author.born}}</td></tr>
					<tr><td>Died: </td><td>{{author.died}}</td></tr>
				</table>
				<!--Title: {{author.publications}}-->	
			</div>
			</div>
		</div>		
	</body>
</html>